# .NET
backend/**/bin/
backend/**/obj/

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# IDE
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
